*{box-sizing: border-box}

body{
    width: 1440px;
    background-color: #E5E5E5;
}

.Header{
    background-color:#EC362D;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 43px;
    font-family:'Roboto';
    font-weight: 700;
    color: #FFFFFF;
    line-height: 43px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titlePage{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 23px;
    font-family:'Roboto';
    font-weight: 700;
    color: #000000;
    line-height: 27px;
}

.quizzBox{
    width: 600px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color:#FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 80px;
}

.quizzQuestion{
    display: flex;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.quizzText{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    width: 564px;
    height: 46px;
    font-size: 19px;
    font-family:'Roboto';
    font-weight: 400;
    color: #bababa;
    line-height: 22px;
    font-style: italic;
}

.page3-1ToPage3-2{
    width: 368px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    border: 1px solid #D1D1D1;
    border-radius: 15px;
    background-color: #EC362D;
}

.textButton{
    font-size: 21px;
    font-family:'Roboto';
    font-weight: 400;
    color: #fff5f4;
    line-height: 25px;
}
/* Lívia */

.page2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.quizzName{
    width: 100%;
    height: 142px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(fundo.png);  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.questionBox{
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    width: 759px;
    height: 676px;
    padding: 30px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.questionTitle{
    width: 688.16px;
    height: 137.99px;
    background: #434CA0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 688.16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: #000000;
}
.option img{
    width: 329.91px;
    height: 175.2px;
    margin-top: 20px;
}
.nameOption{
    margin-top: 8px;
}
.notChosen{
    opacity: 0.3;
}
.right{
    color: #009C22;
}
.wrong{
    color: #FF0B0B;
}
.resultBox{
    margin-top: 44px;
    width: 759px;
    height: 430px;
    padding: 18px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.result{
    width: 727px;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EC362D;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}
.messageFinal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
}
.messageFinal img{
    width: 364px;
    height: 273px;
}
.textFinal{
    display: flex;
    flex-wrap: wrap;
    width: 328px;
    height: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}
.restartQuizz{
    width: 260.38px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
    margin-top: 57px;
    margin-bottom: 16px;
    border:none;
}
.goHome{
    border:none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #E5E5E5;
    color: #818181;
    margin-bottom: 85px;
}
.hidden{
    display: none;
}

@media(max-width:1100px) {

body{
    width: 100%;
}
.quizzName{
    font-size: 19px;
    line-height: 22px; 
}

.questionBox{
    margin-top: 24px;
    width: 375px;
    height: 436px;
    padding: 18px;
}
.questionTitle{
    width: 100%;
    height: 89px;
    font-size: 19px;
    line-height: 22px;
}
.options{
    width: 100%;
    font-size: 13px;
    line-height: 15px;
}
.option img{
    width: 163px;
    height: 113px;
    margin-top: 13px;
}
.nameOption{
    margin-top: 5px;
}
.resultBox{
    margin-top: 24px;
    width: 375px;
    height: 500px;
}
.result{
    width: 340px;
    font-size: 19px;
    line-height: 22px;
    flex-wrap: wrap;
    padding: 22px 16px;
}
.messageFinal{
    flex-direction: column;
    margin-top: 9px;
}
.messageFinal img{
    width: 340px;
    height: 255px;
    margin-bottom: 9px;
}
.textFinal{
    width: 340px;
    height: 96px;
    font-size: 17px;
    line-height: 20px;
}
.restartQuizz{
    width: 220.32px;
    height: 44px;
    font-size: 18px;
    line-height: 21px;
    margin-top: 34px;
    margin-bottom: 8px;
    
}
.goHome{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 66px;
}

}