body{
    width: 1440px;
    background-color: #E5E5E5;
}

.Header{
    background-color:#EC362D;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 43px;
    font-family:'Roboto';
    font-weight: 700;
    color: #FFFFFF;
    line-height: 43px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titlePage{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 23px;
    font-family:'Roboto';
    font-weight: 700;
    color: #000000;
    line-height: 27px;
}

.quizzBox{
    width: 600px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color:#FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 80px;
}

.quizzQuestion{
    display: flex;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.quizzText{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    width: 564px;
    height: 46px;
    font-size: 19px;
    font-family:'Roboto';
    font-weight: 400;
    color: #bababa;
    line-height: 22px;
    font-style: italic;
}

.page3-1ToPage3-2{
    width: 368px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    border: 1px solid #D1D1D1;
    border-radius: 15px;
    background-color: #EC362D;
}

.textButton{
    font-size: 21px;
    font-family:'Roboto';
    font-weight: 400;
    color: #fff5f4;
    line-height: 25px;
}